<app-header></app-header>
<!-- <app-container></app-container>

<app-footer></app-footer> -->
<!-- <app-signin></app-signin>
<app-tours></app-tours> -->
<app-popup *ngIf="popupMessage" 
           [messageTitle]="popupMessage.title" 
           [messageBody]="popupMessage.body"
           (close)="closePopup()"></app-popup>

<router-outlet></router-outlet>
<!-- <app-tours-form></app-tours-form> -->
<app-footer></app-footer>

<!-- Template reference -->
 <!-- <input type="text" #inp>
 <button (click)="addValue(inp)">Add</button>
<app-demo-test [userInput]="inputText"></app-demo-test> -->