<!--
This is a test file for demonstrating the use of template reference variables in Angular.

The template contains an input element with a template reference variable (#tempref) and a paragraph element.
The input element's keyup event is bound to a no-op function (0), which allows us to capture the keyup event without any action.
The value of the input element is displayed in the paragraph element using interpolation ({{tempref.value}}).
-->
<!-- <p>demo-test works!</p>
<input type="text" #tempref (keyup)="0">
<button (click)="sayFun(tempref)">Say Hello</button>
<p>{{tempref.value}}</p>

 -->

<P>==================</P>
<!-- <input type="date" #tempDate (onblur)="calcAge()">
<input type="text" #tempAge> -->


<h1>Added value {{userInput}}</h1>